<div class="container">
  <h1>Signup!</h1><br>

  <% provide(:button_text, "Create") %>

  <% unless flash[:error].blank? %>
    <div class="alert alert-danger" role="alert">
      <button class="close" data-dismiss="alert">×</button>
      <%= flash[:error].html_safe %>
    </div>
  <% end %><br><br>

  <%= render 'form' %>
</div>
