@import "bootstrap";
@import "font-awesome";
@import "products";

.btn-space {
    margin-right: 5px;
}

.fa.reg {
  font-size: 20px;
}

.fa.big {
  font-size: 30px
}

.badge.small {
  font-size: 12px
}
