<% if @products.blank? %>
  <%= render partial: 'shared/flash', locals: {message: 'Sorry, no products found.'} %>
<% else %>
  <div class="row">
    <% @products.each do |product| %>
      <%= render partial: 'product_card', locals: {product: product} %>
    <% end %>
  </div>

  <%= will_paginate @products,
   renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>

<% end %>
