<div class="container">
  <div id="login-form" ></div><br>
</div>
<% unless flash[:notice].blank? %>
  <%= flash[:notice].html_safe %>
<% end %>

<div id="products" >
  <%= render partial: 'products_table', locals: {item_collection: @products} %>
</div>
