<div class="container-fluid">
  <br>
  <div id="products" >
    <%= render partial: 'products' %>
  </div>
</div>

<script>
  $(function(){
     $('.pagination a').attr('data-remote', 'true')
  });
</script>
