<div class="container-fluid">

  <div id='flash'></div>

  <%= render partial: 'modal_login' %>

  <%= render partial: 'shared/flash',
  locals: {message: flash[:notice]} unless flash[:notice].blank? %>

  <div id="products" >
    <%= render partial: 'products', locals: { item_collection: @products } %>
  </div>

</div>

<script>
  $(function(){
     $('.pagination a').attr('data-remote', 'true')
  });
</script>
