<div class="container-fluid">
  <br>
<%= link_to " Add product", new_product_path, class: "btn btn-primary fa fa-plus-circle",
    :id => "add-product-button", :method => :get %><br><br>

<div class="row">
  <% @seller_products.each do |product| %>
    <%= render partial: 'product_card', locals: {product: product} %>
  <% end %>
</div>

<%= will_paginate @seller_products,
 renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>

</div>
